{% extends 'base.html.twig' %}

{% block title %}Boule{% endblock %}

{% block body %}
    <h1>Boule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boule.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ boule.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ boule.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ boule.prix }}</td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ boule.promotion }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ boule.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_boule_index') }}">back to list</a>

    <a href="{{ path('app_boule_edit', {'id': boule.id}) }}">edit</a>

    {{ include('boule/_delete_form.html.twig') }}
{% endblock %}
